.l-topAccess{
  @include flex;
  &__logo{
    width: 500px;
    height: 420px;
    object-fit: cover;
    @include tablet{
      width: 100%;
      height: 60vw;
    }
  }
  &__map{
    width: calc(100% - 500px);
    height: 420px;
    @include tablet{
      width: 100%;
      height: 70vw;
    }
  }
}
